.qiniu-image-wrapper {
  .size-hints {
    margin-left: 20%;
    color: #8494a8;
  }

  .add-single-picture {
    height: 150px;
    line-height: 210px;
    width: 150px;
    background-color: white;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #eee;
    position: relative;
    vertical-align: top;
    img {
      width: 100%;
      height: 100%;
      &:hover {
        cursor: pointer;
      };
    }
    &:hover {
      background-color: black;
      opacity: 0.4;
      border-radius: 10px;
      cursor: pointer;
      span {
        color: white;
      }
    }
    .upload-icon {
      left: 50%;
      top: 50%;
      width: 36px;
      height: 36px;
      position: absolute;
      display: inline-block;
      background-size: 122px;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background: image-url("active_admin/qiniu_input/upload.png") no-repeat left top;
    }
    .upload-span {
      left: 50%;
      top: 60%;
      position: absolute;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  }

  .delete_image {
    background: #5ea3d3;
    box-shadow: none;
    color: #fff;
    border: solid 1px;
    border-radius: 6px;
    padding: 5px 12px;

    &:hover {
      background: #72aed8;
    }
  }

  button[disabled] {
    background: #8b9297;
    &:hover {
      background: #8b9297;
    }
  }
}
